<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CandyLove</title>
</head>
<body>
<main>
    <header>
        <a href="/">Logo</a>
        <nav>
            <ul>
                <li>
                    <a href="https://slik-bilen.dk/">SlikBilen</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Candystore</h1>

    </section>
    <section>
        <h2>Candy selection</h2>

        <ul>
            <li>Chocolade Bar</li>
            <li>Gummybears</li>
            <li>JellyBeans</li>
            <li>Snickers</li>
            <li>Liquorice</li>
        </ul>

        <h1>Drinks</h1>

        <ol start="20">
            <li>Coca Cola</li>
            <li>Fanta</li>
            <li>Sprite</li>
            <li>Pepsi</li>
            <li>Faxe Kondi</li>
            <ol/>

            <section>
</main>





</body>
</html>